.console{
    background-color: black;
    color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 1rem;
    text-align: center;
    padding: 10px;
}

.log-mess{
    margin: 3px;
}