.restart-button{
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
}

.restart-button:hover{
  background: rgba(142, 142, 145, 0.158);
  border-radius: 10px;
}

[disabled]{
  pointer-events: none;
}