@property --myColor1 {
    syntax: '<color>';
    initial-value: rgba(128, 128, 128, 0.075);
    inherits: false;
  }
  
  @property --myColor2 {
    syntax: '<color>';
    initial-value: rgba(128, 128, 128, 0.014);
    inherits: false;
  }
  @property --myColor3 {
    syntax: '<color>';
    initial-value: rgba(128, 128, 128, 0.144);
    inherits: false;
  }
  @property --myColor4 {
    syntax: '<color>';
    initial-value: rgba(128, 128, 128, 0.096);
    inherits: false;
  }

  .service-component::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  .service-component::-webkit-scrollbar-track {
    background: rgba(133, 131, 131, 0.089);        /* color of the tracking area */
  }
  
  .service-component::-webkit-scrollbar-thumb {
    background-color: rgb(39, 39, 145);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid rgba(83, 81, 77, 0.575);  /* creates padding around scroll thumb */
  }


.service-component{
  display: grid;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 60vh;
}

.wrapper-elements {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 20px;
    margin: 1rem;
    padding: 10px;

    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 3px 3px rgba(0,0,0,.15);
    background: linear-gradient(90deg, var(--myColor1) 10%, var(--myColor2) 45%, var(--myColor3) 76%, var(--myColor4) 100%);
    transition: --myColor1 1s, --myColor2 1s, --myColor3 2s, --myColor4 3.5s;
}

.active{
    --myColor1: rgba(0, 36, 11, 0.014);
    --myColor2: rgba(9, 121, 15, 0.034);
    --myColor3: rgba(7, 118, 16, 0.267);
    --myColor4: rgba(1, 105, 10, 0.733);
}

.stopped{
    --myColor1: rgba(36, 22, 0, 0.014);
    --myColor2: rgba(121, 9, 18, 0.034);
    --myColor3: rgba(118,7,15,0.2665441176470589);
    --myColor4: rgba(105, 1, 5, 0.712);
}

.pending{
  --myColor1: rgba(0, 21, 36, 0.014);
  --myColor2: rgba(9, 67, 121, 0.034);
  --myColor3: rgba(7, 68, 118, 0.267);
  --myColor4: rgba(1, 53, 105, 0.712);
}

.error{
  --myColor1: rgba(36, 29, 0, 0.014);
  --myColor2: rgba(121, 101, 9, 0.034);
  --myColor3: rgba(116, 118, 7, 0.267);
  --myColor4: rgba(105, 83, 1, 0.712);
}

.disable{
    background: rgba(128, 128, 128, 0.267);
}
.wrapper-elements:hover{
    border-radius: 0% 0% 30% 30% / 0% 0% 3% 3% ;
    box-shadow: 4px 4px rgba(0,0,0,.25);
}

.service-name{
    width: 130px;
    overflow: hidden;
}